@model LJsystem.Models.UsersDetails
@section Header{
    <title>链集-用户商品管理</title>
    <link href="/assert/dist/css/home.css" rel="stylesheet">
}
<div class="container mt-20">
    <div class="row">
        <form>
            <div class="panel panel-primary">
                <div class="panel-heading">用户详情</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            Cras justo odio
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary btn-group-sm">确定</button>
                    <button type="button" class="btn btn-default btn-group-sm">打回</button>
                </div>
            </div>
            </form>
</div>
</div>
@section Footer{
    <script src='/assert/dist/js/home.js'></script>
}